.g-recaptcha {
	width: 304px;
	margin: 0 auto;
}

.section-description.__price-seo
{
	padding-top: 55px!important;
}

.col-centered{
	text-align: center;
	padding-bottom: 10px;
}

.audit {
	padding-top: 40px;
	padding-right: 65px;
}

.section-description {
	line-height: inherit;
}

#main-nav .nav a._contacts,
#main-nav .nav a._contacts:active,
#main-nav .nav a._contacts:hover{
	font-family: Arial, sans-serif;
	padding:0px 5px;
	font-size:14px;
	line-height:54px;
	font-weight:700;
	letter-spacing:0.01em;
	text-transform:uppercase;
	background:transparent;
	color:#4E5961;
	opacity:0.5;
	-webkit-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out;
}

.features .icon {
	background: #9661A8 !important;
}

._offer {
	font-size: 24px !important;
}