.g-recaptcha {
	width: 304px;
	margin: 0 auto;
}

.section-description.__price-seo
{
	padding-top: 55px!important;
}

.col-centered{
	text-align: center;
	padding-bottom: 10px;
}

.audit {
	padding-top: 40px;
	padding-right: 65px;
}

.section-description {
	line-height: inherit;
}
